---
import BaseLayout from './BaseLayout.astro';

const { frontmatter } = Astro.props;

const pubDate = new Date(frontmatter.pubDate);
const bylineDate = pubDate.toLocaleDateString(undefined, {
	weekday: 'long',
	month: 'long',
	year: 'numeric',
	day: 'numeric',
});

const tags = frontmatter.tags;
---

<BaseLayout pageTitle={frontmatter.title}>
	<article>
		<p class="byline">
			<address class="author">by {frontmatter.author}</address> on <time
				pubdate
				datetime={pubDate}
				title={bylineDate}>{bylineDate}</time
			>
		</p>
		<div class="tags">
			{
				tags.map((tag: string) => (
					<p class="tag">
						<a href={`/tags/${tag}`}>{tag}</a>
					</p>
				))
			}
		</div>
	</article>
	<slot />
</BaseLayout>

<style>
	a {
		color: #00539f;
	}

	.tags {
		display: flex;
		flex-wrap: wrap;
	}

	.tag {
		margin: 0.25em;
		border: dotted 1px #a1a1a1;
		border-radius: 0.25em;
		padding: 0.25em 0.5em;
		font-size: 0.85em;
		background-color: #f8fcfd;
	}
</style>
